.button {
   border: 1px solid #3C0;
   background: #C00;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3C0));
   background: -webkit-linear-gradient(top, #3C0, #3C0);
   background: -moz-linear-gradient(top, #3C0, #3C0);
   background: -ms-linear-gradient(top, #3C0, #3C0);
   background: -o-linear-gradient(top, #3C0, #3C0);
   background-image: -ms-linear-gradient(top, #3C0 0%, #3C0 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background:#C00;
   background: -webkit-gradient(linear, left top, left bottom, from(#3C0), to(#3C0));
   background: -webkit-linear-gradient(top, #3C0, #3C0);
   background: -moz-linear-gradient(top, #3C0, #3C0);
   background: -ms-linear-gradient(top, #3C0, #3C0);
   background: -o-linear-gradient(top, #3C0, #3C0);
   background-image: -ms-linear-gradient(top, #3C0 0%, #3C0 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3C0), to(#3C0));
   background: -webkit-linear-gradient(top, #3C0, #3C0);
   background: -moz-linear-gradient(top, #3C0, #3C0);
   background: -ms-linear-gradient(top, #3C0, #3C0);
   background: -o-linear-gradient(top, #3C0, #3C0);
   background-image: -ms-linear-gradient(top, #3C0 0%, #3C0 100%);
   color: #fff;
   }