
BODY{
FONT-SIZE: 11px; FONT-FAMILY: verdana,arial;
}

TD{
FONT-SIZE: 11px; FONT-FAMILY: verdana,arial;
}

.table_utama{
border-color: black;
border-style: solid;
border-width: 1px;
}

.td_head{
border-color: black;
border-style: solid;
border-width: 0px 0px 1px 0px;
background-color: #A1BBE4;
height: 85px;
}

.td_menu{
border-color: balck;
border-style: solid;
border-width: 1px 1px 0px 0px;
background-color: #BFD0EA;
height: 140px;
}

.td_headmenu{
border-color: balck;
border-style: outset;
border-width: 0px 0px 1px 0px;
background-color: #A1BBE4;
FONT-SIZE: 11px; FONT-FAMILY: verdana,arial;
height: 20px;
}

.td_utama{
border-color: balck;
border-style: solid;
border-width: 1px 0px 0px 0px;
}

.td_isi{
border-color: balck;
border-style: solid;
border-width: 1px 0px 0px 0px;
}